<h2>Add Post</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="author">author</label>
    <input type="text"
            class="form-control"
            id="author"
            name = "author"
            required
            [(ngModel)] = "post.author">
  </div>
  <div class="form-group">
    <label for="title">title</label>
    <input type="text"
            class="form-control"
            id="title"
            name = "title"
            required
            [(ngModel)] = "post.title">
  </div>
  <div class="form-group">
    <label for="content">content</label>
    <input type="text"
            class="form-control"
            id="content"
            name = "content"
            required
            [(ngModel)] = "post.content">
  </div>
  <!-- שדה לאימייל
  <div class="form-group">
    <label for="email">EMail</label>
    <input type="text"
            class="form-control"
            id="email"
            name = "email" 
            required
            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            [(ngModel)] = "user.email"
            #email="ngModel">
      <div *ngIf="!email.valid">
        Invalid email
      </div>       
  </div>  -->
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>