<span *ngIf = "!isEdit" > <div>
                Author: {{post.author}}
            </div>
            <div>
                Title: {{post.title}}
            </div>  
            <div>
                Content: {{post.content}}
            </div> </span>
<span *ngIf = "isEdit" >
    <div> Author:  <input type="text" [(ngModel)] = "post.author"> </div>
    <div> Title:   <input type="text" [(ngModel)] = "post.title"> </div>
    <div> Content: <input type="text" [(ngModel)] = "post.content"> </div>
</span>

<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>
<button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button>            

            <!-- +Name: {{user.name}}, Email {{user.email}} -->
       